/* /Pages/ChangePassword.razor.rz.scp.css */

.form-body[b-i0i8yw5ck6] {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-container[b-i0i8yw5ck6] {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-container .form-floating:focus-within[b-i0i8yw5ck6] {
    z-index: 2;
}

.form-login .current-password[b-i0i8yw5ck6] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login .new-password[b-i0i8yw5ck6] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* /Pages/Login.razor.rz.scp.css */

.login-body[b-dzmq7yykdm] {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: calc(100vh - 150px);
}

.form-login[b-dzmq7yykdm] {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-login .form-floating:focus-within[b-dzmq7yykdm] {
    z-index: 2;
}

.form-login .username[b-dzmq7yykdm] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login .password[b-dzmq7yykdm] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.alert-msg[b-dzmq7yykdm]{
    background-color:coral;
    color:white;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-1rxg284qkn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-1rxg284qkn] {
    flex: 1;
}

.sidebar[b-1rxg284qkn] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-1rxg284qkn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-1rxg284qkn]  a, .top-row[b-1rxg284qkn]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-1rxg284qkn]  a:hover, .top-row[b-1rxg284qkn]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-1rxg284qkn]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-1rxg284qkn] {
        display: none;
    }

    .top-row.auth[b-1rxg284qkn] {
        justify-content: space-between;
    }

    .top-row[b-1rxg284qkn]  a, .top-row[b-1rxg284qkn]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-1rxg284qkn] {
        flex-direction: row;
    }

    .sidebar[b-1rxg284qkn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-1rxg284qkn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-1rxg284qkn], article[b-1rxg284qkn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-mwrfdnf9yl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-mwrfdnf9yl] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-mwrfdnf9yl] {
    font-size: 1.1rem;
}

.oi[b-mwrfdnf9yl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-mwrfdnf9yl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-mwrfdnf9yl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-mwrfdnf9yl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-mwrfdnf9yl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-mwrfdnf9yl]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-mwrfdnf9yl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-mwrfdnf9yl] {
        display: none;
    }

    .collapse[b-mwrfdnf9yl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
